/* Reset margini e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stile del body */
body {
  font-family: 'ubuntu';
  background-color: #fdf3e7;
}


/* Navbar aggiornata */
.navbar {
  background-color: #fdb813;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: relative; /* Permette di posizionare gli elementi in modo assoluto */
}

/* Ridimensionamento del logo */
.navbar .logo img {
  height: 50px; /* Dimensione più piccola */
  width: auto; /* Mantiene le proporzioni corrette */
  object-fit: contain; /* Assicura che l'immagine non venga deformata */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
  margin: 0 auto; /* Centra i link */
}

.nav-links li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 18px;
}

.scritte {
  width: 300px;          /* Larghezza del rettangolo */
  height: 500px;         /* Altezza del rettangolo */
  background-color: #f4a261;  /* Colore di sfondo */
  border: 2px solid #e76f51;  /* Bordo */
  border-radius: 10px;   /* Angoli arrotondati */
  padding: 20px;         /* Spazio interno */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Ombra */
  text-align: left;    /* Centrare il testo */
  margin: 20px;          /* Margine esterno */
  transform: translateX(1160px);

}

.scritte h1{
  text-align: center;
}

.scritte ul{
  margin : 10px;
  margin-left: 30px;
  ;
}


.scritte #map{
  display: flex;
  justify-content: space-between; /* Spazi tra mappa e scritte */
  align-items: flex-start; /* Allinea tutto in alto */
  padding: 20px;
  width: 100%;
}


/* Mappa */
#map {
  transform: translateY(-520px);
  margin-left: 40px;
  width: 70%;
  height: 80vh; /* Occupa l'80% dell'altezza della finestra */
  border: 2px solid #ccc; /* Bordo sottile grigio */
  border-radius: 10px; /* Angoli leggermente arrotondati */
}

/* Responsive */
@media (max-width: 768px) {
  #map {
      width: 95%;
      height: 70vh;
  }
}