@font-face {
  font-family: 'FontCustom';
  src: url('/Fonts/JETSans-Regular.otf') format('otf'),
       url('/Fonts/JETSans-Bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'ubuntu';
    background-color: #fdf3e7;
  }

 /*----------------------------------------------------*/
 
/* Navbar aggiornata */   
.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Ridimensionamento del logo */
.navbar .logo img {
  height: 50px; 
  width: auto; 
  object-fit: contain; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 70px;
  margin: 0 auto; 
}

.nav-links li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 18px;
}

.cart-e-btn{
  display: flex;
  gap: 20px;
  justify-content: rig;
}

.nav-li{
  display: flex;
  align-items: center;
  justify-content: center;
}



  /*----------------------------------------------------*/
.carrello{
  margin-right: 30px;
  margin: 30px;
  justify-content: center;
  align-items: center;
}
.pagina-carrello{
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #pannello-utente{
    display: inline-block;
    background-color: white;
    margin-right: 30px;
    margin: 30px;
    zoom: 1.5;
  }
      #items{
        display: inline-block;
        margin: 10px; 
        margin-top: 15px;
        }
      #dati-utente{
        margin:10px;
        margin-top:5px;
      }
        #address{
          display: inline-block;
          margin: 5px;
        }
        #nome{
          display: block;
          margin: 5px;
          margin-bottom: 9px;
        }
        #cognome{
          display: block;
          margin: 5px;
        }
        #totale{
          display: inline-block;
          margin:10px;
        }
      #btn-invioDati{
        margin: 10px;
      }
        .btn-invioDati1{
          margin: 6px;
          padding: 8px;
          border: none;
          background-color: #ff0000;
          color: white;
          font-family: "ubuntu";
          cursor: pointer;
          transition: opacity 0.1s, background-color 0.1s;
        }
        .btn-invioDati1:hover{
          opacity: 0.8;
          background-color:hsl(0, 100%, 40%);
          box-shadow: 3px 4px 10px rgba(119, 119, 119, 0.3);
        }
        .btn-invioDati2{
          position: fixed;
          margin: 6px;
          padding: 8px;
          border-color: red;
          border-width: 1px;
          border-radius: 15px;
          background-color: #ffffff;
          color: rgb(255, 0, 0);
          font-family: "ubuntu";
          font-weight: bold;
          cursor: pointer;
          transition: border-width 0.1s, background-color 0.1s;
        }
        .btn-invioDati2:hover{
          background-color: #ffe1e1;
          border-width: 2px;
          box-shadow: 3px 4px 10px rgba(119, 119, 119, 0.3);
        }

.listaCart {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      padding: 10px;
      gap: 5px;
    }
  
  .pulsante-rimuovi {
    margin-left: auto; /* Spinge il pulsante tutto a destra */
  }

  .listaCart{
    width: 800px;
    padding: 20px;
    display: flex;
  }
    .pulsante-rimuovi{
      padding: 4px;
      padding-left: 6px;
      padding-right: 6px;
      border: none;
      background-color: red;
      color: white;
      box-shadow: 0px 0px 10px rgb(161, 161, 161);
      cursor: pointer;
    }
  
