@font-face {
  font-family: 'FontCustom';
  src: url('/Fonts/JETSans-Regular.otf') format('otf'),
       url('/Fonts/JETSans-Bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'ubuntu';
    background-color: #fdf3e7;
  }

   /*----------------------------------------------------*/

/* Navbar aggiornata */   
.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Ridimensionamento del logo */
.navbar .logo img {
  height: 50px; 
  width: auto; 
  object-fit: contain; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 70px;
  margin: 0 auto; 
}

.nav-links li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 18px;
}

.nav-ordinaOra{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  padding-right:20px;
  padding-left: 20px;
  font-weight:bold;
  border-radius:5px;
  border: none;
}
.div-navOrdinaOra{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-e-btn{
  display: flex;
  gap: 20px;
  justify-content: rig;
}

.nav-li{
  display: flex;
  align-items: center;
  justify-content: center;
}



   /*----------------------------------------------------*/

  .scritte {
    width: 300px;          
    height: 500px;         
    background-color: #f4a261;   
    border-radius: 10px;   
    padding: 20px;        
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    text-align: left;    
    margin: 20px;         
    transform: translateX(1160px);

 }

 .scritte h1{
    text-align: center;
 }

 .scritte ul{
    margin : 10px;
    margin-left: 30px;
    ;
 }


.scritte #map{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
    width: 100%;
}

 /*----------------------------------------------------*/

/* Mappa */
#map {
    transform: translateY(-520px);
    margin-left: 40px;
    width: 70%;
    height: 80vh;
    border: 2px solid #ccc;
    border-radius: 10px; 
}

/* Responsive map */
@media (max-width: 768px) {
    #map {
        width: 95%;
        height: 70vh;
    }
}